html, body {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body:before {
  width: 100%;
  height: 100%;
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #fff;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-img {
  height: 100vh;
  width: auto;
  position: absolute;
}
#page1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#page1 .button {
  position: absolute;
  bottom: 5vh;
  width: 50vw;
  left: 50%;
  margin-left: -25vw;
}
#page2 {
  display: none;
  background-image: url('https://selfwork.oss-cn-shanghai.aliyuncs.com/pickone/pickone_bg.jpg');
}
#page2 .container {
  position: relative;
  margin: 16vh auto 0;
  height: 81vh;
  width: 81vw;
  display: flex;
  flex-wrap: wrap;
}
#page2 .container .bottle_block {
  position: absolute;
  width: 27vw;
  -webkit-appearance: none;
  left: 0;
  top: 0;
}
#page2 .container #love {
  top: 27vh;
}
#page2 .container #study, #page2 .container #career {
  top: 54vh;
}
#page2 .container .bottle_block img {
  position: absolute;
  width: 100%;
}
#page2 .container .bottle_block img.cover {
  width: 21vw;
  margin: 6vw 2.5vw;
  border-radius: 8px;
}
#page3 {
  visibility: hidden;
  background-image: url('https://selfwork.oss-cn-shanghai.aliyuncs.com/wipe/wipe-bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
#page3 .cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  top: 0;
}
#page3 .hand {
  position: absolute;
  width: 20vw;
  top: 40vh;
  right: 20vw;
  animation: move 2s infinite;
  -webkit-animation: move 2s infinite;
}
@keyframes move {
    0% { right: 20vw; top: 40vh; }
  80% { right: 40vw; top: 50vh; }
}
#page3 .bottle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  margin-left: -148px;
  margin-top: -300px;
}
#page3 .canvas_container {
  position: relative;
  margin: 21vw auto 0;
  width: 240px;
  height: 420px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -120px;
}
#page3 .container_full {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
  margin: 0;
}
#page3 .card {
  display: block;
  width: auto;
  height: 100%;
}
#page3 .canvas_container canvas {
  position: absolute;
  border-radius: 24px;
}
#page3 .tumo {
  display: block;
  margin: 75px auto 0;
  width: 60px;
}
*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}